@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic');

* {
	box-sizing: border-box;
  }

body{
	height: 100vh;
	width: 100%;
	display: grid;
	place-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0; 
  }

.section-intro {
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	border: 0;
}

.section-intro h1 {
	font-family: 'Cormorant';
	text-align: center;
	background: linear-gradient(to top, #090909 100%, #85C1C1 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 6em;
	font-weight: 600;
	letter-spacing: 2px;
	position: relative;
	top: -300px;
	text-shadow: 3px 2px 0px #a3e9e9, 2px 2px 0px #ffffff2b,
                0 20px 30px rgba(0, 0, 0, 0.2);
}

.section-intro h2 {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	background: linear-gradient(to top, #a3e9e9 100%, #ffffff 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-stroke: 0.5px;
	color: #a3e9e9;
	font-size: 40px;
	font-weight: 700;
	position: relative;
	top: -550px;
	letter-spacing: 10px;
}


.section-intro header {
	display: flex;
	flex: 4;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#rectangle {
    position: relative;
	top: -500px;
	width: 2500px;
	height: 200px;
	background:rgb(0, 0, 0);
	
}

.about-section {
	font-family: 'Cormorant';
	text-align: center;
	font-weight: 100px;
	display: flex;
	align-items: center;
	padding: 50px 30px;
	width: 90%;
	margin: 0;
	padding: 0;
	border: 0;
	
}


.about-section h3 {
	color: #fff;
	text-align: center;
	width: 100%;
	font-family: 'Cormorant';
	font-size: 70px;
	font-weight: 400px;
	line-height: 150px;
	letter-spacing: 10px;
	word-spacing: 30px;
	position: relative;
	top: -80px;
}



.about-us {
	align-items: end;
}

.about-us h3 {
	color: #fff;
	text-align: center;
	font-family: 'Futura PT';
	font-size: 30px;
	font-weight: 700;
	position: relative;
	top: -750px;
	letter-spacing: 2px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 11px solid #ffffff;
	position: relative;
	top: -800px;
	left: 760px;
}

.about-us #one{
	font-weight: 400;
	align-items: center;
	color:#85C1C1;
	width: fit-content;
	height: 600px;
	text-align: center;
	font-size: 28px;
	position: relative;
	top: -750px;
	left: 10px;
	line-height: 50px;
	letter-spacing: 2px;
	word-spacing: 10px;
}

.about-us #two{
	font-weight: 400;
	align-items: center;
	color:#85C1C1;
	width:fit-content;
	height: 600px;
	text-align: jcenter;
	font-size: 28px;
	position: relative;
	top: -750px;
	left: 10px;
	line-height: 50px;
	letter-spacing: 2px;
	word-spacing: 10px;
}


	@-webkit-keyframes scroll {
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	100% {
	-webkit-transform: translateX(calc(-250px * 7));
	transform: translateX(calc(-250px * 7));
	}
	}
	@keyframes scroll {
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	100% {
	-webkit-transform: translateX(calc(-250px * 7));
	transform: translateX(calc(-250px * 7));
	}
	}

	#rectangle{
		width:1300px;
		height:300px;
		position: relative;
		top: 250px;
		background:rgb(0, 0, 0);
		opacity: 50%;
	}

	.slider {
    background: url();
	height: 300px;
	margin: 4px;
	overflow: hidden;
	position: relative;
	top: -5px;
	width: 1300px;
	}
	
	.slider::before, .slider::after {
	background-color: #000000;
	height: 250px;
	position: relative;
	top: 200px;
	width: 500px;
	z-index: 2;
	}
	.slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	}
	.slider::before {
	left: 0;
	top: 0;
	}
	.slider .slide-track {
	-webkit-animation: scroll 20s linear infinite;
	animation: scroll 20s linear infinite;
	display: flex;
	width: calc(250px * 14);
	}
	.slider .slide {
	margin: 0;
	padding: 0;
	border: 0;
	height: 300px;
	width: 400px;
	}

	.services h3{
		margin: 0;
		padding: 0;
		border: 0;
		color: #fff;
		font-size: 30px;
		font-weight: 600;
		position: relative;
	    top: -80px;
	    left: 10px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}


 
	.services{
	z-index: 0;	
	background-image: url("chef.png");
    background-size:cover;
    background-repeat: no-repeat;
	position: relative;
	top: -780px;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 850px;
	  }
	  


	.services #three {
		font-weight: 500;
		align-items: center;
		color:#ffffff;
		width:fit-content;
		height: 600px;
		text-align: center;
		font-size: 26px;
		position: relative;
		top: 40px;
		left: 500px;
		line-height: 50px;
		letter-spacing: 1px;
		word-spacing: 2px;
	}

	.services #four {
		font-weight: 400;
		align-items: center;
		color:#85C1C1;
		width:fit-content;
		height: 600px;
		text-align: center;
		font-size: 26px;
		position: relative;
		top: -520px;
		left: 150px;
		line-height: 50px;
		letter-spacing: 1px;
		word-spacing: 2px;
	}

	
	.services #five{
		font-weight: 400;
		align-items: center;
		color:#ffffff;
		width:fit-content;
		height: 600px;
		text-align: center;
		font-size: 26px;
		position: relative;
		top: -985px;
		left: 650px;
		line-height: 50px;
		letter-spacing: 1px;
		word-spacing: 2px;
		z-index: 2;
	}


	.services #six{
		font-weight: 500;
		align-items: center;
		color:#85C1C1;
		width:fit-content;
		height: 600px;
		text-align: center;
		font-size: 26px;
		position: relative;
		top: -1560px;
		left: 500px;
		line-height: 50px;
		letter-spacing: 1px;
		word-spacing: 2px;
		z-index: 2;
	}

	.blurbg{
		z-index: 1;
		position: relative;
		top: -2300px;
		left: 20px;
	
	}



	.lastpg #a{

		font-weight: 400;
		align-items: center;
		color:#85C1C1;
		width:fit-content;
		height: 600px;
		text-align: center;
		font-size: 26px;
		position: relative;
		top: -740px;
		left: 100px;
		line-height: 50px;
		letter-spacing: 2px;
		word-spacing: 5px;
		z-index: 2;
	}

	
	.lastpg #b{
		font-weight: 600;
		align-items: center;
		color:#85C1C1;
		width:fit-content;
		height: 600px;
		text-align: center;
		font-size: 26px;
		position: relative;
		top: -1300px;
		left: 130px;
		line-height: 50px;
		letter-spacing: 2px;
		word-spacing: 3px;
		z-index: 2;
	}


	.lastpg #c{
		font-weight: 400;
		align-items: center;
		color:#ffffff;
		width:fit-content;
		height: 600px;
		text-align: center;
		font-size: 26px;
		position: relative;
		top: -1830px;
		left: 12px;
		line-height: 50px;
		letter-spacing: 2px;
		word-spacing: 3px;
		z-index: 2;
	}

	.lastpg #d{
		font-weight: 400;
		align-items: left;
		color:#ffffff;
		width:fit-content;
		height: 600px;
		text-align: left;
		font-size: 26px;
		position: relative;
		top: -2358px;
		left: 12px;
		line-height: 50px;
		letter-spacing: 2px;
		word-spacing: 10px;
		z-index: 2;
	}

	
	.lastpg #e{
		font-weight: 400;
		align-items: left;
		color:#ffffff;
		width:fit-content;
		height: 600px;
		text-align: left;
		font-size: 26px;
		position: relative;
		top: -2985px;
		left: 600px;
		line-height: 50px;
		letter-spacing: 2px;
		word-spacing: 10px;
		z-index: 2;
	}

.line{
	position: relative;
	top: -3620px;
}