@import url('https://fonts.cdnfonts.com/css/futura-pt');
*{
  margin: 0;
  padding: 0;
  /* user-select: none; */
  box-sizing: border-box;
  font-family: 'Futura PT', sans-serif;
}
html,body{
  height: 100%;
}
body{
  display: grid;
  place-items: center;
  background-image: url("Background.png");
  text-align: center;
}
.content{
  width: 450px;
  padding: 30px 30px;
  background: #dde1e7;
  border-radius: 30px;
  
}
.content .text{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #ffffff;
}
.field{
  height: 55px;
  font-size: 20px;
  width: 100%;
  margin-right:25px;
  display: flex;
  position: relative;
}
.field:nth-child(2){
  margin-top: 40px;
}
.field input{
  height: 100%;
  width: 100%;
  padding-left: 65px;
  font-weight: 500;
  outline: none;
  margin-top:-15px;
  margin-left:25px;
  margin-right:25px;
  border: none;
  font-size: 20px;
  background: #314C7A;
  color: #ffffff;
  border-radius: 30px;
  
}

.field i.gg-close:hover, .field i.gg-close:active {font-size: 150%;}
button:hover, button:active {font-size: 135%;}

.field input:focus{
  box-shadow: inset 1px 1px 2px #314C7A,
              inset -1px -1px 2px #43434373;
}
.field i{
  position: absolute;
  padding-left: 5px;
  margin-top:-35px;
  margin-left:360px;
  margin-right:0px;
  color: #314C7A;
  width: 70px;
  line-height: 50px;
}

.field span{
  position: absolute;
  padding-left: 5px;
  margin-top:-15px;
  margin-left:20px;
  margin-right:25px;
  color: #85C1C1;
  width: 70px;
  line-height: 50px;
}
.field label{
  position: absolute;
  top: 20%;
  font-size: 20px;
  font-weight: 500;
  text-indent: 10px;
  letter-spacing: 0px;
  transform: translateY(-50%);
  left: 80px;
  pointer-events: none;
  color: #ffffff;
}
.field input:valid ~ label{
  opacity: 0;
}
.forgot-pass{
  text-align: left;
  margin: 10px 0 10px 30px;
}
.forgot-pass a{
  font-size: 16px;
  color: #314C7A;
  font-weight: 500;
  text-decoration: none;
}
.forgot-pass:hover a{
  text-decoration: underline;
}
i{
  cursor: pointer;  
}
button{
  margin: 15px 0;
  text-align: center;
  width: 30%;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  background: #85C1C1;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #314C7A;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
button:focus{
  color: #314C7A;
  box-shadow: inset 2px 2px 5px #5c8c8c,
             inset -5px -5px 10px #85C1C1;
}
